


body{
  background-color: #7A86AD !important;
}

body *{
  font-family: 'Raleway', sans-serif;
}

.weather{
  height:80px;
  font-size:2em;
  line-height: 80px;
  text-align: center;
}

.nav-bar{
  height:50px;
  background-color:black;
  color:black;
  text-align:center;
}

.form-input{
  height:30px !important;
  border:none;
  margin:10px;
}

.submit{
  background-color:white;
  color:black;
  height:30px !important;
}

.home-link,
.home-link:hover{
  font-size:2em;
  color:white;
  text-decoration:none;
  line-height: 50px;
}

.fave_bus {
  border: 1px solid black;
  margin: 10px auto;
  box-shadow: 2px 2px 2px grey;
  font-size: 1.5em;
  width: 80%;
  padding:10px;
}

.center-content{
  width:100%;
  text-align: center;
}



@media (max-width: 991px) {

}

@media (max-width: 767px) {

}
