body{
  background-color: #7A86AD !important;
}

body *{
  font-family: 'Raleway', sans-serif;
}

.weather{
  height:100px;
  padding-top: 10px;
  text-align: center;
  cursor:pointer;
}

.temp-display{
  font-size:2em;
}

#current-temp{
  color:blue;
}

.location-display{
  font-size: 1.5em;
  font-style: italic;
}

.nav-bar{
  height:50px;
  background-color:black;
  color:black;
  text-align:center;
}

.form-input{
  height:30px !important;
  width:300px;
  border:none;
  margin:10px;
}

.submit{
  background-color:white;
  color:black;
  height:30px !important;
}

.home-link,
.home-link:hover{
  font-size:2em;
  color:white;
  text-decoration:none;
  line-height: 50px;
}

.fave_bus {
  border: 1px solid black;
  margin: 10px auto;
  /*box-shadow: 2px 2px 2px grey;*/
  font-size: 1.5em;
  width: 50%;
  padding: 0px 0px 0px 10px;
}

.route-id{
  margin:10px 0px;
  font-size:1.7em;
}

.center-content{
  width:100%;
  text-align: center;
}

.delete-fave{
  color: red;
  font-size: 1.7em;
  float: right;
  /*border-top: 1px solid #7A86AD;
  border-right: 1px solid #7A86AD;
  border-left: 1px solid black;
  border-bottom: 1px solid black;*/
  padding: 0px 30px;
  border: 1px solid black;
  margin-top: -1px;
  margin-right: -1px;
}

.delete-fave:hover{
  text-decoration:none;
  color:inherit;
}

@media (max-width: 991px) {
  .fave_bus {
    width: 60%;
  }
}

@media (max-width: 767px) {
  .fave_bus {
    font-size: 2em;
    width: 90%;
  }

  .route-id{
    text-align: center;
    margin:10px 0px;
    font-size:1.5em;
  }

  .delete-fave{
    color: red;
    font-size: 1.5em;
    float: right;
    /*border-top: 1px solid #7A86AD;
    border-right: 1px solid #7A86AD;
    border-left: 1px solid black;
    border-bottom: 1px solid black;*/
    padding: 0px 30px;
    border: 1px solid black;
    margin-top: -1px;
    margin-right: -1px;
  }


}
